<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoCodeSF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <AutoCodeSF.Properties.Settings>
      <setting name="Time" serializeAs="String">
        <value />
      </setting>
      <setting name="Keydaytime" serializeAs="String">
        <value />
      </setting>
      <setting name="ZeroTime" serializeAs="String">
        <value />
      </setting>
      <setting name="SixtyTime" serializeAs="String">
        <value />
      </setting>
      <setting name="onetwenty" serializeAs="String">
        <value />
      </setting>
      <setting name="oneeighty" serializeAs="String">
        <value />
      </setting>
      <setting name="twoforty" serializeAs="String">
        <value />
      </setting>
      <setting name="Threehundred" serializeAs="String">
        <value />
      </setting>
      <setting name="ThreeSixty" serializeAs="String">
        <value />
      </setting>
      <setting name="fortytwenty" serializeAs="String">
        <value />
      </setting>
      <setting name="foryeighty" serializeAs="String">
        <value />
      </setting>
      <setting name="fiveforty" serializeAs="String">
        <value />
      </setting>
      <setting name="Sixhundred" serializeAs="String">
        <value />
      </setting>
      <setting name="Username01" serializeAs="String">
        <value />
      </setting>
      <setting name="Password01" serializeAs="String">
        <value />
      </setting>
      <setting name="CK_SaveID" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="webShow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Username02" serializeAs="String">
        <value />
      </setting>
      <setting name="Password02" serializeAs="String">
        <value />
      </setting>
      <setting name="Username03" serializeAs="String">
        <value />
      </setting>
      <setting name="Password03" serializeAs="String">
        <value />
      </setting>
      <setting name="Username04" serializeAs="String">
        <value />
      </setting>
      <setting name="Password04" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginSaveDF" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoginSaveGG" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NextkeyCheckBox" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Exp_R1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Exp_R2" serializeAs="String">
        <value>False</value>
      </setting>
    </AutoCodeSF.Properties.Settings>
  </userSettings>
</configuration>